*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.App {
    background-color: lightyellow;
    text-align: center;
}

.imgNav {
    width: 100%;
    height: 250px;
    box-shadow: 4px 4px 4px gray;
}

h1 {
    color: crimson;
    margin-top: 30px;
    font-size: 30px;
    font-family: sans-serif;

}

.inputSearch {
    margin-top: 20px;
    width: 250px;
    height: 22px;
    text-align: center;
    border-radius: 5px;
    background-color: lightgrey;
    
  
}

button {
    background-color: #34495E;
    color: white;
    width: 80px;
    height: 22px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
        
}

.App h2 {
    color: green;
    text-align: left;
    margin-top: 30px;
    margin-left: 55px;
}

.locationInfo h4 {
    text-align: left;
    margin-left: 55px;
}

.residentCard {
    display: inline-block;
    background-color: #34495E ;
    margin: 20px;
    width: 280px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;

}

.imgCard {
    width: 265px;
    height: 200px;
    margin: 5px;
    padding-left: 2px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px lightseagreen ;
}

.infoResident {
    color: white;
    margin: 2px 8px;
    background-color: #6b737a;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightseagreen ;
}

.residentName {
    color: yellow;
}

